# Crud operations using sqlite 3

In [2]:
import sqlite3 as sql

In [4]:
# Connect to an SQLite DB

connection = sql.connect('example.db')

In [5]:
cursor = connection.cursor()

In [8]:
# create a table

cursor.execute('''
Create Table If not Exists employees(
            id Integer Primary key ,
            name Text Not Null,
            age Integer,
            department Text
)
''')

# Commit the changes

connection.commit()

In [9]:
cursor.execute('''
Select * From employees 
''')

In [10]:
# Insert Data

cursor.execute('''
 Insert Into employees(name,age,department)
 values('Aaditya',21,'AI Engineer')
''')

cursor.execute('''
 Insert Into employees(name,age,department)
 values('X_person',23,'AI Insfrastrucre Engineer')
''')

cursor.execute('''
 Insert Into employees(name,age,department)
 values('Y_person',32,'Principal AI Engineer')
''')

connection.commit()

In [14]:
# Querying Data from the table

cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Aaditya', 21, 'AI Engineer')
(2, 'X_person', 23, 'AI Insfrastrucre Engineer')
(3, 'Y_person', 32, 'Principal AI Engineer')

In [15]:
#update the data in the table

cursor.execute('''
UPDATE employees
Set age = 22
where name = 'X_person'
''')

In [16]:
# Querying Data after updating the table

cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Aaditya', 21, 'AI Engineer')
(2, 'X_person', 22, 'AI Insfrastrucre Engineer')
(3, 'Y_person', 32, 'Principal AI Engineer')

In [17]:
# delete the data from the table

cursor.execute('''
Delete from employees
    where name = 'Y_person'
''')

In [18]:
# Querying Data after deleting records the table

cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Aaditya', 21, 'AI Engineer')
(2, 'X_person', 22, 'AI Insfrastrucre Engineer')

In [19]:
#Example of multiple records insertion

cursor.executemany('''
Insert into sales (date,product,sales,region)
            values(?,?,?,?)
'''sales,data)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2689364217.py, line 3)

In [20]:
#close connection

connection.close()