In [2]:
# Data Encoding 

# Categorical -----> meaningful numerical value

In [3]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [5]:
#Create a simple dataframe

df = pd.DataFrame({
    'color': ['red','blue','green','red','blue']
})

In [6]:
df.head()

   color
0    red
1   blue
2  green
3    red
4   blue

In [7]:
#create an instance of one hot encoder
encoder = OneHotEncoder()

In [9]:
#perfom fit and transformation

encoded= encoder.fit_transform(df[['color']]).toarray()

In [10]:
encoder_df = pd.DataFrame(encoded,columns = encoder.get_feature_names_out())

In [11]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0

In [12]:
encoder.transform([['blue']]).toarray()

/Users/aadityakhanal/Library/Caches/pypoetry/virtualenvs/nas-classifier-rF1tT1vl-py3.12/lib/python3.12/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [13]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0